*{
    box-sizing: border-box;
  }
.header-blue{
background-color: #141f40;
width: 400px;
height: 100px;
position: relative;
}
@media screen and ( max-width:479px ){
    .header-blue{
        width: 200px;
        height: 200px;
    }
}
.header-min{
background-color: white;
width: 160px;
height: 60px;
justify-content: center;
display: flex;
padding: 10px 0 0 0;
position: absolute;
top: 20%;
right: 10%;
}
@media screen and ( max-width:479px ){
    .header-min{
        display: block;
        height: 160px;
        width: 60px;
        margin: 20px 70px;
        top: 0;
        right: 0;
        padding: 10px;
    }
}
.pink{
background-color: #a9004b;
width: 40px;
height: 40px;
}
@media screen and ( max-width:479px ){
    .pink{

    }
}
.pink:nth-of-type(2){
    margin: 0 10px;
}
@media screen and ( max-width:479px ){
    .pink:nth-of-type(2){
        margin: 10px 0;
    }
}
.content-middle{
display: flex;
}
@media screen and ( max-width:479px ){
    .content-middle{
        display: block;
    }
}
.left-green{
background-color: #80bfa8;
width: 150px;
height: 250px;
}
@media screen and ( max-width:479px ){
    .left-green{
        width: 200px;
        height: 100px;
    }
}
.right-red{
background-color: #8c2727;
width: 250px;
height: 250px;
}
@media screen and ( max-width:479px ){
    .right-red{
        width: 200px;
        height: 210px;
    }
}
.right-inner{
padding: 40px 60px 0 40px;
}
@media screen and ( max-width:479px ){
    .right-inner{
        padding: 20px 30px;
    }
}
.right-inner-orage{
    border: 5px solid white;
    width: 150px;
    height: 50px;
    background-color: #ff863f;
}
@media screen and ( max-width:479px ){
    .right-inner-orage{
        width: 140px;
    }
}
.right-inner-orage:nth-last-of-type(2){
    margin: 10px 0;
}
.footer-brown{
background-color: #d98d30;
width: 400px;
height: 100px;
}
@media screen and ( max-width:479px ){
    .footer-brown{
        width: 200px;
    }
}